@font-face {
  font-family: 'handwrite';
  src: url(/PatrickHandSC-Regular.ttf);
}

body, html {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'handwrite';
}
@keyframes blurText {

  0%{
    filter: blur(100px);
  }
  100%{
    filter: blur(0);
  }
  
}
#myh2{
  font-size: 2.5rem;
  font-family: 'handwrite';
}
#myh3{
  position: relative;
  text-align: center;
  font-size: 50px;
}

.bg-image {
  background-image: url("/bgm.png");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.315);
  color: white;
  border-radius: 50px;
  font-weight: bold;
  border: 3px solid #ecd6d6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  will-change: width, height;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  min-width: 20%;
}

@keyframes expand {
    0% {
      width: 0; /* start at 0 width */
      height: 0; /* start at 0 height */
    }
    100% {
      width: 90vw; /* end at 90% of viewport width */
      height: 90vh; /* end at 90% of viewport height */
    }
  }
button{
    text-align: center;
    width: 5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all 0.3s;
    font-family: 'handwrite';
}
button:hover{
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    color: white;
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .bg-text {
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
  }

  .bg-text.expanded {
    width: 90%;
    height: 90%;
  }

  @keyframes expand {
    0% {
      width: 0; /* start at 0 width */
      height: 0; /* start at 0 height */
    }
    100% {
      width: 90vw; /* end at 90% of viewport width */
      height: 90vh; /* end at 90% of viewport height */
    }
  }

  .bg-image {
    filter: blur(4px);
    -webkit-filter: blur(4px);
  }

  .button-container {
    width: 90%;
  }
}

